@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
}

section {
	position: relative;
	width: 100%
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #f7f7f2;
	transition: 1.0s;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logo {
	position: relative;
	max-width: 80px;
}

header ul {
	position: relative;
	display: flex;
}

header ul li {
	list-style: none;
}

header ul li a {
	display: inline-block;
	color: #000000;
	font-weight: 400;
	margin-left: 40px;
	text-transform: uppercase;
	text-decoration: none; 
}

.content {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content .text-box {
	position: relative;
	max-width: 600px;
}

.content .text-box h2 {
	color: #000000;
	font-size: 4em;
	line-height: 1.5em;
	font-weight: 500;
	text-transform: uppercase;
}

.content .text-box h2 span {
	font-size: 2em;
}

.content .text-box p {
	color: #000000;
}

.content .text-box a {
	display: inline-block;
	margin-top: 20px;
	padding: 8px 20px;
	background: #000000;
	color: #fff;
	border-radius: 40px;
	font-weight: 500;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.content .image-box {
	width: 600px;
	display: flex;
	padding-right: 50px;
	margin-top: 50px;
	justify-content: flex-end;
}

/*.content .image-box img {
	max-width: 50%;
}*/

.chanel {
	width: 50%;
}

.thumb {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}

.thumb li {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}

.thumb li:hover {
	transform: translateY(-15px);
}

.thumb li img {
	max-width: 60px;
}
